Skip to content
This repository
Search
Pull requests
Issues
Gist
 @crassorz
 Watch 268
  Star 4,674
  Fork 1,117 cymcsg/UltimateRecyclerView
 Code  Issues 147  Pull requests 1  Projects 1  Wiki  Pulse  Graphs
Branch: master Find file Copy pathUltimateRecyclerView/.gitignore
6f0c12c  on 27 Apr
@jjhesk jjhesk Android Timeline View is used to display views like Tracking of shipm…
2 contributors @cymcsg @jjhesk
RawBlameHistory     
54 lines (47 sloc)  724 Bytes
# Android generated
bin/
gen/

# Ant
build.xml
local.properties

# Maven
target/
pom.xml.*
release.properties

# Eclipse
.classpath
.project
.externalToolBuilders/
.apt_generated/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/
output/
.gitignore.orig
.project.bak
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.runtime.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.jdt.launching.prefs
.settings/
.properties
**/*.iml
**/*/.idea
**/.idea
.gradle
build/
**/.gradle
**/*/build
**/build
# key info:
ultimateandroid.jks
keystore.properties
gradleinfo.properties


# Ignore Gradle GUI config
gradle-app.setting
manifest-merger-release-report.txt
*.apk
Contact GitHub API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Status Help